<!-- <div class="col-4 d-flex align-items-stretch"> -->
        <div class="card">
          <img
            [src]=prod.imageUrl
            class="card-img-top"
            />
          <div class="card-body">
            <h5 class="card-title">{{prod.title | uppercase}}</h5>
            <p class="card-text">{{prod.description | uppercase}}</p>
            <p class="card-text">{{prod.price}}</p>
            <a  class="btn btn-primary mr-1" (click)="tocheckOut()">BUY</a>
            <a  class="btn btn-primary" routerLink="product">Add to cart</a>
            <!-- <ng-template #elseblock><span class="bg-danger ml-2"><b>SOLD OUT</b></span></ng-template> -->
          </div>
        </div>
      <!-- </div> -->
      <!-- *ngIf="prod.isAvailable;else elseblock" -->
      <!-- *ngIf="prod.isAvailable" -->