<!-- <div class="col-4 d-flex align-items-stretch"> -->
        <div class="card">
          <img
            src="https://hniesfp.imgix.net/8/images/detailed/139/MRQC2ZMA.jpg?fit=fill&bg=0FFF&w=1500&h=1000&auto=format,compress"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary mr-1">BUY</a>
            <a href="#" class="btn btn-primary">add to cart</a>
          </div>
        </div>
      <!-- </div> -->
      